include parts/meta.pug
+my-include('BOCO')
body
  .bc-nav-block
    .container
      .bc-nav
        .bc-logo
          svg(width="105" height="31" viewBox="0 0 105 31" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.155 0.202881H20.8246L24.5423 7.5426L19.0816 7.50372L15.155 0.202881Z" fill="#EE7C00")
            path(d="M20.7081 0.394257H15.4743L19.1968 7.31442L24.2314 7.35006L20.7081 0.394257ZM15.1552 0.0119629H20.8248C20.9041 0.0119629 20.9722 0.0605589 21.0013 0.130214L24.7125 7.45697C24.7595 7.55093 24.7222 7.66594 24.6283 7.71292C24.5975 7.72912 24.5635 7.73559 24.5311 7.73235L19.0801 7.69348C19.0073 7.69348 18.9457 7.65298 18.9133 7.59304L14.9867 0.292203C14.9365 0.199869 14.9721 0.0832379 15.0644 0.0346412C15.0936 0.0200622 15.1244 0.0119629 15.1552 0.0119629Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M0.592529 26.0666L4.97271 18.479L6.96031 22.5158L2.60929 30.1082L0.592529 26.0666Z" fill="#EE7C00")
            path(d="M4.95814 18.8835L0.807988 26.0742L2.62064 29.706L6.74326 22.5088L4.95814 18.8835ZM0.437034 25.9576L4.8075 18.3846C4.85933 18.2939 4.97596 18.2615 5.06668 18.3149C5.10069 18.3344 5.12661 18.3635 5.14281 18.3959L7.13042 22.4311C7.15958 22.4894 7.15472 22.5574 7.12556 22.6093L2.77615 30.2033C2.72432 30.294 2.60768 30.3264 2.51535 30.2746C2.48133 30.2551 2.45542 30.226 2.43922 30.1936L0.422453 26.152C0.390056 26.0872 0.398157 26.0126 0.437034 25.9576Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M4.97437 18.4512H22.9195L24.9022 22.4863L6.99113 22.4928L4.97437 18.4512Z" fill="#EE7C00")
            path(d="M22.8015 18.6421H5.2824L7.10964 22.303L24.598 22.2949L22.8015 18.6421ZM4.97463 18.2598H22.9198C23.0008 18.2598 23.0704 18.3116 23.0979 18.3829L25.0726 22.4018C25.118 22.4958 25.0791 22.6108 24.9851 22.6561C24.9576 22.6691 24.93 22.6756 24.9009 22.6756L6.98977 22.6837C6.91525 22.6837 6.85046 22.6399 6.81968 22.5784L4.80292 18.5368C4.75594 18.4428 4.79482 18.3278 4.88877 18.2808C4.91631 18.2662 4.94547 18.2598 4.97463 18.2598Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M16.3589 21.9307L24.5782 7.52505L19.1111 7.48779L10.8416 21.8756L16.3589 21.9307Z" fill="#EE7C00")
            path(d="M24.7436 7.6189L16.5243 22.0246C16.4919 22.0829 16.4287 22.1218 16.3575 22.1202L10.8401 22.0635C10.8077 22.0635 10.7769 22.0554 10.7462 22.0375C10.6554 21.9857 10.623 21.8691 10.6765 21.7784L18.9428 7.39535C18.9752 7.33542 19.0384 7.29492 19.1113 7.29492L24.5703 7.33218C24.6043 7.33056 24.6399 7.33866 24.6707 7.35648C24.7631 7.41155 24.7955 7.52819 24.7436 7.6189ZM16.2489 21.7395L24.2512 7.71285L19.2198 7.67883L11.1673 21.6876L16.2489 21.7395Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M6.99118 22.47H24.9477L20.5659 30.1142H2.60938L6.99118 22.47Z" fill="#EE7C00")
            path(d="M24.6183 22.6609H7.10082L2.93771 29.9228H20.4552L24.6183 22.6609ZM6.99067 22.2786H24.9471C25.0524 22.2786 25.1383 22.3644 25.1383 22.4697C25.1383 22.507 25.127 22.5426 25.1075 22.5734L20.7306 30.2095C20.6949 30.2711 20.6318 30.3051 20.5653 30.3051H2.60887C2.50358 30.3051 2.41772 30.2193 2.41772 30.114C2.41772 30.0767 2.42906 30.0411 2.4485 30.0103L6.82545 22.3741C6.85946 22.3142 6.92426 22.2786 6.99067 22.2786Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M6.97168 14.5924L15.178 0.189941L19.1047 7.49078L10.8416 21.8754L6.97168 14.5924Z" fill="#EE7C00")
            path(d="M15.1734 0.583601L7.18897 14.594L10.8483 21.4802L18.8878 7.48757L15.1734 0.583601ZM6.81315 14.4855L15.0147 0.0960134C15.0665 0.00529955 15.1831 -0.0270974 15.2738 0.0247391C15.3062 0.0425579 15.3305 0.0700949 15.3483 0.100873L19.275 7.40172C19.309 7.46651 19.3041 7.54103 19.2652 7.59772L11.007 21.971C10.9552 22.0617 10.8386 22.0941 10.7479 22.0407C10.7155 22.0228 10.6912 21.9953 10.675 21.9645L6.80505 14.6815C6.76942 14.6167 6.77589 14.5422 6.81315 14.4855Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M18.1667 11.0256H26.4185L33.9931 26.0339H25.7414L18.1667 11.0256Z" fill="#EE7C00")
            path(d="M26.3002 11.2165H18.4761L25.8579 25.8425H33.682L26.3002 11.2165ZM18.1667 10.8342H26.4184C26.4978 10.8342 26.5658 10.8828 26.595 10.9525L34.1631 25.9478C34.2101 26.0417 34.1728 26.1568 34.0789 26.2037C34.0513 26.2183 34.0222 26.2248 33.993 26.2248H25.7413C25.6619 26.2248 25.5939 26.1762 25.5647 26.1065L17.9966 11.1112C17.9496 11.0173 17.9869 10.9023 18.0808 10.8553C18.1084 10.8423 18.1375 10.8358 18.1667 10.8342Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M25.7491 26.0356H33.996L31.4593 30.1372H23.2124L25.7491 26.0356Z" fill="#EE7C00")
            path(d="M33.6544 26.2263H25.8563L23.5561 29.9456H31.3542L33.6544 26.2263ZM25.7494 25.844H33.9962C34.1015 25.844 34.1874 25.9298 34.1874 26.0351C34.1874 26.0773 34.1728 26.1178 34.1501 26.1502L31.6215 30.2371C31.5858 30.2955 31.5227 30.3278 31.4595 30.3278H23.2126C23.1073 30.3278 23.0215 30.242 23.0215 30.1367C23.0215 30.0946 23.0361 30.0541 23.0587 30.0217L25.5874 25.9347C25.623 25.8764 25.6862 25.844 25.7494 25.844Z" fill="black")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M15.7207 15.4172L18.1716 11.0256L25.7494 26.1327L23.2127 30.1371L15.7207 15.4172Z" fill="#EE7C00")
            path(d="M18.1618 11.4321L15.9361 15.4203L23.2305 29.7531L25.5291 26.1213L18.1618 11.4321ZM15.5603 15.3118L18.0047 10.9316C18.0565 10.8392 18.1715 10.8069 18.2639 10.8571C18.3011 10.8781 18.3287 10.9089 18.3449 10.9462L25.9195 26.0452C25.9502 26.1067 25.9438 26.1764 25.9098 26.2314L23.3746 30.2358C23.3179 30.3249 23.2013 30.3508 23.1122 30.2957C23.0814 30.2763 23.0587 30.2504 23.0442 30.2212L15.5506 15.5013C15.5182 15.4397 15.5246 15.3668 15.5603 15.3118Z" fill="black")
            path(d="M41.2231 12.395H50.3739C51.4592 12.395 52.3696 12.6105 53.1034 13.0397C53.8372 13.469 54.3847 14.0295 54.7427 14.7163C55.1007 15.4032 55.2805 16.1321 55.2805 16.9016C55.2805 17.4977 55.1753 18.0711 54.963 18.6219C54.7508 19.1726 54.4447 19.6375 54.043 20.015C53.6412 20.3924 53.1715 20.6322 52.6353 20.7326C53.3318 20.9108 53.9344 21.2283 54.4398 21.6851C54.9452 22.1419 55.3275 22.6781 55.5883 23.2936C55.8491 23.9076 55.9787 24.5361 55.9787 25.1776C55.9787 25.9551 55.7908 26.6889 55.415 27.3758C55.0392 28.0626 54.4641 28.6198 53.6898 29.0459C52.9155 29.4719 51.9792 29.6841 50.8777 29.6841H41.2231V12.395ZM46.666 16.4237V18.7725C47.3593 18.7725 48.0973 18.7725 48.7589 18.7725C49.0213 18.7725 49.2432 18.6591 49.4263 18.434C49.6077 18.2088 49.7 17.9496 49.7 17.6597C49.7 17.3405 49.5883 17.0554 49.3647 16.8027C49.1412 16.55 48.8204 16.4237 48.4009 16.4237H46.666ZM46.666 25.4849C47.4738 25.4849 48.3195 25.4854 49.099 25.4854C49.4749 25.4854 49.7729 25.3655 49.9916 25.1241C50.2103 24.8827 50.3204 24.6025 50.3204 24.285C50.3204 23.8849 50.1811 23.5285 49.9025 23.2159C49.6239 22.9049 49.2416 22.7477 48.7573 22.7477H46.666V25.4849Z" fill="#EE7C00")
            path(d="M88.1442 16.8515C87.1998 16.5033 86.3024 16.3283 85.4503 16.3283C84.6436 16.3283 83.9017 16.4773 83.223 16.7705C82.5442 17.0686 81.9999 17.4979 81.5852 18.0616C81.1754 18.635 80.96 19.3057 80.9276 20.08C80.9276 20.1642 80.9195 20.2857 80.9033 20.4428C80.8871 20.6016 80.879 20.7036 80.879 20.7506C80.879 22.2053 81.2354 23.2679 81.9465 23.9385C82.6609 24.6059 83.6198 24.9413 84.8266 24.9413C85.7548 24.9413 86.8596 24.7388 88.1409 24.3387V29.1254C87.1884 29.4316 86.0983 29.5839 84.8736 29.5839C83.7138 29.5839 82.5588 29.4202 81.4071 29.0898C80.2634 28.7723 79.2202 28.2701 78.2693 27.5752C77.3217 26.8754 76.5555 25.9488 75.9707 24.8019C75.3892 23.6453 75.1008 22.2749 75.1008 20.6907C75.1494 18.4957 75.6305 16.7284 76.5539 15.3855C77.4723 14.0475 78.6322 13.0966 80.0366 12.5329C81.4362 11.9692 82.9379 11.6841 84.5334 11.6841C85.6042 11.6841 86.8062 11.8185 88.1409 12.0907V16.8515H88.1442Z" fill="#008BD0")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M65.7936 17.0405H65.5833V17.0417H65.359C64.3015 17.0417 63.3591 17.2195 62.5305 17.5751C61.7008 17.9318 61.0059 18.4152 60.4458 19.0253C59.8845 19.6354 59.4615 20.321 59.1745 21.0798C58.9553 21.6602 58.7603 22.5186 58.762 23.4632C58.7637 24.4061 58.9014 25.075 59.1815 25.8408C59.4615 26.6066 59.8752 27.2945 60.4249 27.9035C60.9745 28.5124 61.6509 28.9935 62.4562 29.3479C63.2615 29.7012 64.1656 29.879 65.1684 29.879H65.6704C66.7035 29.879 67.632 29.7058 68.4559 29.3618C69.2798 29.0179 69.9782 28.5449 70.5511 27.9418C71.1251 27.3399 71.5586 26.6612 71.8537 25.907C72.1489 25.1529 72.3035 24.3708 72.3174 23.5608V23.3796C72.3174 22.5766 72.1791 21.7945 71.9025 21.0357C71.626 20.2757 71.2134 19.5959 70.6661 18.9951C70.1176 18.3943 69.4308 17.9179 68.6046 17.5669C67.7784 17.216 66.8418 17.0405 65.7936 17.0405ZM65.5398 26.5049C66.8912 26.5049 67.9868 25.1416 67.9868 23.4597C67.9868 21.7779 66.8912 20.4146 65.5398 20.4146C64.1883 20.4146 63.0928 21.7779 63.0928 23.4597C63.0928 25.1416 64.1883 26.5049 65.5398 26.5049Z" fill="#EE7C00")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M97.9591 17.0405H97.7488V17.0417H97.5245C96.467 17.0417 95.5246 17.2195 94.6961 17.5751C93.8663 17.9318 93.1714 18.4152 92.6113 19.0253C92.0501 19.6354 91.6271 20.321 91.34 21.0798C91.1209 21.6602 90.9258 22.5186 90.9275 23.4632C90.9292 24.4061 91.0669 25.075 91.347 25.8408C91.6271 26.6066 92.0408 27.2945 92.5904 27.9035C93.1401 28.5124 93.8164 28.9935 94.6217 29.3479C95.427 29.7012 96.3311 29.879 97.3339 29.879H97.8359C98.869 29.879 99.7975 29.7058 100.621 29.3618C101.445 29.0179 102.144 28.5449 102.717 27.9418C103.291 27.3399 103.724 26.6612 104.019 25.907C104.314 25.1529 104.469 24.3708 104.483 23.5608V23.3796C104.483 22.5766 104.345 21.7945 104.068 21.0357C103.792 20.2757 103.379 19.5959 102.832 18.9951C102.283 18.3943 101.596 17.9179 100.77 17.5669C99.9439 17.216 99.0073 17.0405 97.9591 17.0405ZM97.7053 26.5049C99.0567 26.5049 100.152 25.1416 100.152 23.4597C100.152 21.7779 99.0567 20.4146 97.7053 20.4146C96.3539 20.4146 95.2583 21.7779 95.2583 23.4597C95.2583 25.1416 96.3539 26.5049 97.7053 26.5049Z" fill="#008BD0")
        form.bc-search(id="searchForm")
          .input-group
            input.form-control(
              id="searchInp"
              type="text"
              placeholder="Название товара"
              aria-label="Product name"
              aria-describedby="searchBtn"
            )
            div(class="input-group-append")
              button.btn.btn-outline-secondary(type="submit") Найти
          svg.bc-search__lupa(width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.3513 15.7781L11.8327 10.2595C12.689 9.15234 13.1523 7.79872 13.1523 6.37497C13.1523 4.67073 12.4872 3.07274 11.2844 1.86787C10.0817 0.662997 8.47943 0 6.77732 0C5.0752 0 3.47296 0.665122 2.27021 1.86787C1.06534 3.07061 0.402344 4.67073 0.402344 6.37497C0.402344 8.07709 1.06747 9.67933 2.27021 10.8821C3.47296 12.0869 5.07307 12.7499 6.77732 12.7499C8.20106 12.7499 9.55255 12.2867 10.6597 11.4325L16.1783 16.9489C16.1945 16.9651 16.2137 16.978 16.2348 16.9867C16.256 16.9955 16.2786 17 16.3015 17C16.3244 17 16.3471 16.9955 16.3682 16.9867C16.3894 16.978 16.4086 16.9651 16.4248 16.9489L17.3513 16.0246C17.3675 16.0084 17.3803 15.9892 17.3891 15.968C17.3978 15.9469 17.4023 15.9242 17.4023 15.9013C17.4023 15.8784 17.3978 15.8557 17.3891 15.8346C17.3803 15.8135 17.3675 15.7942 17.3513 15.7781ZM10.1433 9.74096C9.24231 10.6398 8.04806 11.135 6.77732 11.135C5.50657 11.135 4.31233 10.6398 3.41133 9.74096C2.51246 8.83996 2.01734 7.64572 2.01734 6.37497C2.01734 5.10423 2.51246 3.90786 3.41133 3.00899C4.31233 2.11012 5.50657 1.61499 6.77732 1.61499C8.04806 1.61499 9.24443 2.10799 10.1433 3.00899C11.0422 3.90998 11.5373 5.10423 11.5373 6.37497C11.5373 7.64572 11.0422 8.84209 10.1433 9.74096Z" fill="#71809C")
        .bc-city
          svg.bc-city__marker(width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.6891 6.44339C11.6891 5.70146 11.543 4.9668 11.2591 4.28135C10.9752 3.5959 10.559 2.97308 10.0344 2.44846C9.50977 1.92383 8.88695 1.50768 8.2015 1.22376C7.51605 0.939835 6.78139 0.793701 6.03946 0.793701C5.29753 0.793701 4.56287 0.939835 3.87742 1.22376C3.19196 1.50768 2.56915 1.92383 2.04453 2.44846C1.5199 2.97308 1.10375 3.5959 0.819827 4.28135C0.535904 4.9668 0.38977 5.70146 0.389771 6.44339C0.389771 7.56284 0.720681 8.60399 1.28161 9.48212H1.27516C3.17991 12.4643 6.03946 16.9357 6.03946 16.9357L10.8038 9.48212H10.7981C11.3796 8.57523 11.6888 7.52066 11.6891 6.44339ZM6.03946 8.86469C5.39729 8.86469 4.78143 8.60959 4.32734 8.1555C3.87326 7.70142 3.61816 7.08556 3.61816 6.44339C3.61816 5.80122 3.87326 5.18536 4.32734 4.73128C4.78143 4.27719 5.39729 4.02209 6.03946 4.02209C6.68163 4.02209 7.29749 4.27719 7.75157 4.73128C8.20565 5.18536 8.46075 5.80122 8.46075 6.44339C8.46075 7.08556 8.20565 7.70142 7.75157 8.1555C7.29749 8.60959 6.68163 8.86469 6.03946 8.86469Z" fill="#71809C")
          span Санкт-Петербург
        a(href="/admin").bc-auth
          svg(width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.8735 13.0001L9.66674 6.16113V10.2645H0.0921631V15.7357H9.66674V19.8391L17.8735 13.0001ZM21.9769 22.5747H11.0345V25.3103H21.9769C23.4815 25.3103 24.7125 24.0793 24.7125 22.5747V3.42554C24.7125 1.92096 23.4815 0.689941 21.9769 0.689941H11.0345V3.42554H21.9769V22.5747Z" fill="#71809C")
  // ===========================================================================
  .bc-slider-block
    .container
      .bc-main-slider
        .bc-main-slider__arrow.left.siema-prev
          svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M6.49658 1L1.49658 6.5L6.49658 11.5" stroke="#1092D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .bc-main-slider__arrow.right.siema-next
          svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1.49658 1.34448L6.49658 6.84448L1.49658 11.8445" stroke="#1092D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .siema
          .bc-slide
            .bc-slide__circle
            img.bc-slide__img(src="/images/bobr1.png")
            .bc-slide__title
              | Агрегатор строительных<br/>
              | материалов BoCo
            .bc-slide__info
              | BoberCo - крупнейшая база данных товаров магазинов
              | и гипермаркетов Санкт-Петербурга, насчитывающая
              | десятки тысяч наименований
            a(href="/products/").bc-btn Перейти в каталог
          .bc-slide
            .bc-slide__circle
            img.bc-slide__img.middle(src="/images/bobr2.png")
            .bc-slide__title
              | Друзья BoCo
            .bc-slide__info
              | Скооперируйтесь и приобретайте товары по
              | оптовым ценам даже если требуется меньшее
              | количество, чем минимально неободимое
              | для совершения оптовой закупки
            .bc-btn.scroll-to(data-target="st-coop") Подробнее
          .bc-slide
            .bc-slide__circle
            img.bc-slide__img.large(src="/images/bobr3.png")
            .bc-slide__title
              | Аренда ячейки
            .bc-slide__info
              | Арендуйте ячейку и в этом случае в карточках
              | товаров вместе с остальными ценами будет
              | выводиться цена Вашего магазина со ссылкой
              | на страницу товара на Вашем сайте
            .bc-btn.scroll-to(data-target="st-rent") Подробнее
  // ===========================================================================
  .bc-categoies-block.st-category
    .container
      .bc-block-title Категории товаров
      .bc-categories(id="categoriesBlock")
        .row.text-center
          each category, index in categories
            .col-xs-6.col-sm-4.col-lg-3.p-2(class= index > 7 ? 'more' : '')
              a.bc-category-card(href="/products?category=" + category._id)
                .bc-category-card__image-area
                  if category.image
                    img.bc-category-card__image(src=category.image alt="")
                  else
                    .bc-category-card__noimage
                      include parts/greyLogo.pug
                .bc-category-card__title= category.name
      if categories.length > 8
        .bc-controls
          span.link-button(id="showMoreCategories") Посмотреть все категории товаров
  // ===========================================================================
  .bc-hands-block
    .container
      .bc-hands
        .bc-hands__circle
          include parts/greyLogo.pug
        img.bc-hands__left(src="/images/left-hand.png")
        img.bc-hands__right(src="/images/right-hand.png")
        .bc-hands__info
          .bc-hands__title Кооперация
          .bc-hands__desc
            | Для приобретения товаров по оптовым ценам сделайте
            span.link-button.scroll-to(data-target="st-coop") 3 простых шага
  // ===========================================================================
  .bc-cooperation-block.st-coop
    .container
      .bc-block-title Кооперация
      .row
        .col-xs-12.col-sm-4
          .bc-cooperation-card
            .bc-cooperation-card__head
              .bc-cooperation-card__circle
              img.bc-cooperation-card__image.first(src="/images/step1.png" alt="")
            .bc-cooperation-card__title Шаг 1
            .bc-cooperation-card__desc 
              | Выберите товар на сайте и заполните заявку на кооперацию с другими покупателями
        .col-xs-12.col-sm-4
          .bc-cooperation-card
            .bc-cooperation-card__head
              .bc-cooperation-card__circle
              img.bc-cooperation-card__image(src="/images/step2.png" alt="")
            .bc-cooperation-card__title Шаг 2
            .bc-cooperation-card__desc
              | Чтобы заполнить заявку просто нажмите кнопку Кооперация которая имеется в каждой карточке товара
        .col-xs-12.col-sm-4
          .bc-cooperation-card
            .bc-cooperation-card__head
              .bc-cooperation-card__circle
              img.bc-cooperation-card__image(src="/images/step3.png" alt="")
            .bc-cooperation-card__title Шаг 3
            .bc-cooperation-card__desc
              | Как только наберется необходимое количество заявок для совершения оптовой закупки - наш менеджер
              | с Вами свяжется и расскажет о дальнейших шагах
      .bc-controls
        a(href="/products").link-button Перейти в каталог
  // ===========================================================================
  .bc-coop-cards-block
    .container
      .bc-block-title Активные заявки на кооперацию
      .row
        each card in cooProducts
          .col-xs-12.col-sm-6.col-md-3
            .bc-card
              .bc-card__image-wrap
                img.bc-card__image(src=card.image)
              .bc-card__title=card.name
              .bc-card__brand=card.brand
              .bc-card__params
                .row
                  .col-6 Толщина:
                  .col-6 12мм
                .row
                  .col-6 Вес:
                  .col-6 16,44кг
                .row
                  .col-6 Площадь:
                  .col-6 3м.кв
              .bc-card__like
                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19.237 11.1021C19.6447 10.5633 19.8704 9.9032 19.8704 9.2164C19.8704 8.12672 19.2613 7.09529 18.2808 6.52012C18.0284 6.37207 17.741 6.29415 17.4484 6.29442H11.6287L11.7743 3.31177C11.8083 2.59098 11.5535 1.9066 11.0584 1.38482C10.8154 1.12764 10.5223 0.923013 10.1971 0.783593C9.87197 0.644174 9.52166 0.57292 9.16786 0.574237C7.90588 0.574237 6.78951 1.42365 6.4546 2.63952L4.3699 10.1872H1.23193C0.802368 10.1872 0.455322 10.5342 0.455322 10.9638V19.7976C0.455322 20.2272 0.802368 20.5742 1.23193 20.5742H15.8248C16.0481 20.5742 16.2665 20.5306 16.4679 20.4432C17.6231 19.9505 18.3682 18.822 18.3682 17.5698C18.3682 17.264 18.3245 16.963 18.2372 16.6718C18.6449 16.133 18.8706 15.4729 18.8706 14.7861C18.8706 14.4803 18.8269 14.1794 18.7395 13.8882C19.1472 13.3494 19.3729 12.6893 19.3729 12.0025C19.3681 11.6967 19.3244 11.3933 19.237 11.1021ZM2.20268 18.8269V11.9345H4.16847V18.8269H2.20268ZM17.6474 10.26L17.1159 10.7211L17.4533 11.3375C17.5644 11.5406 17.622 11.7686 17.6207 12C17.6207 12.4005 17.446 12.7815 17.1451 13.0436L16.6136 13.5047L16.9509 14.1211C17.062 14.3242 17.1197 14.5522 17.1184 14.7837C17.1184 15.1841 16.9436 15.5651 16.6427 15.8272L16.1112 16.2884L16.4485 16.9048C16.5597 17.1078 16.6173 17.3358 16.616 17.5673C16.616 18.1109 16.2956 18.6012 15.8006 18.8245H5.72168V11.8569L8.13643 3.10791C8.1987 2.88367 8.33236 2.68583 8.51717 2.54438C8.70198 2.40293 8.92786 2.32557 9.16058 2.32402C9.34502 2.32402 9.52704 2.37742 9.67265 2.48663C9.91292 2.66622 10.0415 2.93803 10.027 3.22683L9.794 8.04178H17.4241C17.8561 8.30631 18.1231 8.75286 18.1231 9.2164C18.1231 9.61683 17.9484 9.99543 17.6474 10.26Z" fill="white")
      .bc-controls
        a(href="/products/?coopOnly=true").link-button Посмотреть все заявки
  // ===========================================================================
  .bc-rent-block.st-rent
    .container
      .bc-block-title Аренда ячейки
      .row
        .col-xs-12.col-sm-6
          img.bc-rent__image(src="/images/rent.png")
        .col-xs-12.col-sm-6
          .bc-rent__info
            .bc-rent__text
              | Чтобы оставить заявку на аренду - нажмите на кнопку ниже и заполните форму. 
              | Менеджер свяжется с Вами в ближайшее время чтобы уточнить детали 
              | и рассказать о дальнейших действиях.
            .bc-btn(type="button" data-toggle="modal" data-target="#rentModal") Оставить заявку
  // ===========================================================================
  .bc-partners-block
    .container
      .bc-block-title.small Наши партёры
      .bc-partners.row.text-center
        each shop in shops
          .col-6.col-sm-6.col-md-3
            img.bc-partners__image(src=shop.image alt="")
  // ===========================================================================
  .bc-footer
    .container
      .bc-footer__top
        .row
          .col-xs-12.col-md-6.d-none.d-sm-block
            .row
              .col-3
                svg(width="65" height="19" viewBox="0 0 65 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M0.889893 0.710938H10.0407C11.126 0.710938 12.0364 0.926385 12.7702 1.35566C13.504 1.78493 14.0515 2.34541 14.4095 3.03224C14.7675 3.71907 14.9473 4.44802 14.9473 5.21747C14.9473 5.81359 14.842 6.38703 14.6298 6.93779C14.4176 7.48855 14.1114 7.95346 13.7097 8.3309C13.308 8.70833 12.8382 8.94808 12.302 9.04851C12.9986 9.2267 13.6012 9.5442 14.1066 10.001C14.612 10.4578 14.9943 10.994 15.2551 11.6096C15.5159 12.2235 15.6455 12.852 15.6455 13.4935C15.6455 14.271 15.4576 15.0048 15.0817 15.6917C14.7059 16.3785 14.1309 16.9358 13.3566 17.3618C12.5823 17.7878 11.646 18 10.5444 18H0.889893V0.710938ZM6.33272 4.73961V7.08845C7.02604 7.08845 7.76407 7.08845 8.42562 7.08845C8.68804 7.08845 8.90997 6.97505 9.09301 6.74989C9.27444 6.52473 9.36678 6.26554 9.36678 5.97558C9.36678 5.65646 9.255 5.37136 9.03146 5.11866C8.80791 4.86596 8.48718 4.73961 8.06762 4.73961H6.33272ZM6.33272 13.8008C7.14054 13.8008 7.98621 13.8013 8.7658 13.8013C9.14161 13.8013 9.43967 13.6814 9.65836 13.44C9.87704 13.1987 9.98719 12.9184 9.98719 12.6009C9.98719 12.2008 9.84788 11.8444 9.56926 11.5318C9.29064 11.2208 8.90835 11.0637 8.424 11.0637H6.33272V13.8008Z" fill="#30394A")
                  path(d="M47.8109 5.16745C46.8665 4.81917 45.9691 4.64422 45.1171 4.64422C44.3103 4.64422 43.5684 4.79325 42.8897 5.08645C42.211 5.38451 41.6667 5.81378 41.252 6.3775C40.8422 6.95095 40.6267 7.62158 40.5943 8.39589C40.5943 8.48012 40.5862 8.60161 40.57 8.75874C40.5538 8.91749 40.5457 9.01954 40.5457 9.06652C40.5457 10.5212 40.9021 11.5838 41.6132 12.2545C42.3276 12.9219 43.2866 13.2572 44.4934 13.2572C45.4216 13.2572 46.5264 13.0547 47.8077 12.6546V17.4413C46.8552 17.7475 45.765 17.8998 44.5404 17.8998C43.3805 17.8998 42.2256 17.7362 41.0738 17.4057C39.9302 17.0882 38.887 16.586 37.9361 15.8911C36.9884 15.1913 36.2222 14.2647 35.6375 13.1179C35.0559 11.9613 34.7676 10.5908 34.7676 9.00658C34.8162 6.81163 35.2973 5.04433 36.2206 3.70144C37.1391 2.36341 38.2989 1.41254 39.7034 0.848821C41.103 0.285099 42.6046 0 44.2002 0C45.2709 0 46.4729 0.134447 47.8077 0.406589V5.16745H47.8109Z" fill="#30394A")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M25.4603 5.35645H25.25V5.35761H25.0257C23.9683 5.35761 23.0258 5.5354 22.1973 5.89099C21.3676 6.24775 20.6727 6.73116 20.1125 7.34124C19.5513 7.95133 19.1283 8.63694 18.8413 9.39577C18.6221 9.9761 18.427 10.8345 18.4287 11.7792C18.4304 12.722 18.5682 13.3909 18.8482 14.1567C19.1283 14.9225 19.542 15.6105 20.0916 16.2194C20.6413 16.8283 21.3176 17.3094 22.1229 17.6638C22.9282 18.0171 23.8323 18.1949 24.8352 18.1949H25.3372C26.3702 18.1949 27.2987 18.0217 28.1226 17.6778C28.9465 17.3338 29.6449 16.8608 30.2178 16.2577C30.7919 15.6558 31.2253 14.9771 31.5205 14.223C31.8156 13.4688 31.9702 12.6867 31.9841 11.8768V11.6955C31.9841 10.8925 31.8459 10.1104 31.5693 9.35161C31.2927 8.59162 30.8802 7.91181 30.3329 7.31103C29.7844 6.71025 29.0976 6.2338 28.2714 5.88286C27.4451 5.53192 26.5085 5.35645 25.4603 5.35645ZM25.2065 14.8208C26.558 14.8208 27.6535 13.4575 27.6535 11.7757C27.6535 10.0938 26.558 8.73047 25.2065 8.73047C23.8551 8.73047 22.7595 10.0938 22.7595 11.7757C22.7595 13.4575 23.8551 14.8208 25.2065 14.8208Z" fill="#30394A")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M57.6259 5.35645H57.4155V5.35761H57.1913C56.1338 5.35761 55.1914 5.5354 54.3628 5.89099C53.5331 6.24775 52.8382 6.73116 52.2781 7.34124C51.7168 7.95133 51.2938 8.63694 51.0068 9.39577C50.7876 9.9761 50.5926 10.8345 50.5942 11.7792C50.5959 12.722 50.7337 13.3909 51.0138 14.1567C51.2938 14.9225 51.7075 15.6105 52.2572 16.2194C52.8068 16.8283 53.4831 17.3094 54.2884 17.6638C55.0937 18.0171 55.9978 18.1949 57.0007 18.1949H57.5027C58.5358 18.1949 59.4643 18.0217 60.2882 17.6778C61.1121 17.3338 61.8104 16.8608 62.3833 16.2577C62.9574 15.6558 63.3908 14.9771 63.686 14.223C63.9812 13.4688 64.1357 12.6867 64.1497 11.8768V11.6955C64.1497 10.8925 64.0114 10.1104 63.7348 9.35161C63.4582 8.59162 63.0457 7.91181 62.4984 7.31103C61.9499 6.71025 61.2631 6.2338 60.4369 5.88286C59.6107 5.53192 58.6741 5.35645 57.6259 5.35645ZM57.372 14.8208C58.7235 14.8208 59.819 13.4575 59.819 11.7757C59.819 10.0938 58.7235 8.73047 57.372 8.73047C56.0206 8.73047 54.9251 10.0938 54.9251 11.7757C54.9251 13.4575 56.0206 14.8208 57.372 14.8208Z" fill="#30394A")
              .col-9
                .mb-5
                  | BoberCo - крупнейшая база данных товаров магазинов и гипермаркетов Санкт-Петербурга, насчитывающая 
                  | несколько тысяч наименований

          .col-xs-12.col-md-6
            .row
              .col-2.d-none.d-sm-block
              .col-5
                .bc-footer__title Клиентам
                .bc-footer__link.scroll-to(data-target="st-category") Категории товаров
                .bc-footer__link.scroll-to(data-target="st-coop") Кооперация
                .bc-footer__link.scroll-to(data-target="st-rent") Аренда ячейки
              .col-5
                .bc-footer__title Компания
                a(href="/").bc-footer__link Контакты
                a(href="/").bc-footer__link О нас
      .bc-underfooter.text-right
        span &copy; 2019-2020 BOCO Все права защищены

  include parts/rentModal.pug

  script(src="/frontend/landing.js")