include parts/meta.pug
+my-include('BOCO')
body
  nav.site-header.navbar.shadow-sm
    div.container.d-flex.justify-content-between
      a.site-header__link.navbar-brand.d-flex.align-items-center(href="/")
        img.site-header__logo(src="/images/logo_long.png")
      div
        span.site-header__city.mr-5.p-2.d-none.d-sm-inline-block
          include parts/point.pug
          span.ml-2 Санкт-Петербург
        a.site-header__link(class="p-2" href="/admin") Авторизоваться

  .main-search.jumbotron.jumbotron-fluid.mb-0
    form(id="searchForm").container.text-center
      p(class="lead font-weight-normal mb-5")
        | Начните поиск строительных материалов вместе с BoberCo - крупнейшей базой данных товаров
        | магазинов и гипермаркетов Санкт-Петербурга, насчитывающей несколько тысяч наименований
      div(class="input-group main-search__input")
        input.form-control(
          id="searchInp"
          type="text"
          placeholder="Название товара"
          aria-label="Product name"
          aria-describedby="searchBtn"
        )
        div(class="input-group-append")
          button.btn.btn-outline-secondary(type="submit") Найти

  // ================ COOPERATIONS ==============
  .cooperations-section.p-5
    .container
      .row
        .col-xs-12.col-sm-6
          img.block-img(src="/images/handshake.jpg")
        .col-xs-12.col-sm-6
          .block-title Кооперация
          .block-content
            .block-description
              | У Вас есть возможность приобрести товары по оптовым ценам
              | даже если требуется меньшее количество чем минимально неободимое
              | для совершения оптовой закупки. Для этого просто выберите товар на сайте
              | и заполните заявку на кооперацию с другими покупателями. Как только наберется 
              | необходимое количество заявок для совершения оптовой закупки - 
              | наш менеджер с Вами свяжется и расскажет о дальнейших шагах. Чтобы заполнить 
              | заявку просто нажмите кнопку Кооперация которая имеется в каждой карточке товара.
            .block-description
              | Также Вы можете посмотреть товары по которым уже есть заявки на кооперацию,
              | для этого перейдите по ссылке ниже
          a.btn.btn-info(href="/products/?coopOnly=true") Есть заявки

  // ================ CATEGORIES ================
  .categories-section.p-2.p-sm-2.p-md-5
    .container
      .row.text-center
        each category in categories
          .col-xs-12.col-sm-6.p-2.text-left
            a(href="/products?category=" + category._id).categories-section__item.text-left= category.name

  // ================ RENT ======================
  .rent-section.p-5
    .container
        .row
          .col-xs-12.col-sm-6
            .block-title Аренда ячейки
            .block-content
              .block-description
                | Вы можете арендовать ячейку и в этом случае в карточках товаров 
                | вместе с остальными ценами будет выводиться цена Вашего магазина со ссылкой 
                | на страницу товара на Вашем сайте.
              .block-description
                | Чтобы оставить заявку на аренду - нажмите на кнопку ниже и заполните форму.
                | Менеджер свяжется с Вами в ближайшее время чтобы уточнить детали и рассказать о
                | дальнейших действиях.
            .btn.btn-info(type="button" data-toggle="modal" data-target="#rentModal") Оставить заявку
          .col-xs-12.col-sm-6
            img.block-img(src="/images/rent.png")

  // ================ SHOPS =====================
  .shops-section.p-5
    .container
      .row.text-center
        each shop in shops
          .col-6.col-sm-6.col-md-3
            .shops-section__item.p-2
              img.shops-section__image(src=shop.image alt="")

  .footer-section
    footer.container.py-5 BoberCo
  .underfooter
    .container.p-2 &copy; 2019-2020 BOCO Все права защищены

  include parts/rentModal.pug

  script(src="/frontend/landing.js")