include parts/meta.pug
+my-include('BOCO')
body
  .bc-nav-block
    .container
      .bc-nav
        .bc-logo
          include parts/logo.pug
        form.bc-search(id="searchForm")
          .input-group
            input.form-control(
              id="searchInp"
              type="text"
              placeholder="Название товара"
              aria-label="Product name"
              aria-describedby="searchBtn"
            )
            div(class="input-group-append")
              button.btn.btn-outline-secondary(type="submit") Найти
          svg.bc-search__lupa(width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.3513 15.7781L11.8327 10.2595C12.689 9.15234 13.1523 7.79872 13.1523 6.37497C13.1523 4.67073 12.4872 3.07274 11.2844 1.86787C10.0817 0.662997 8.47943 0 6.77732 0C5.0752 0 3.47296 0.665122 2.27021 1.86787C1.06534 3.07061 0.402344 4.67073 0.402344 6.37497C0.402344 8.07709 1.06747 9.67933 2.27021 10.8821C3.47296 12.0869 5.07307 12.7499 6.77732 12.7499C8.20106 12.7499 9.55255 12.2867 10.6597 11.4325L16.1783 16.9489C16.1945 16.9651 16.2137 16.978 16.2348 16.9867C16.256 16.9955 16.2786 17 16.3015 17C16.3244 17 16.3471 16.9955 16.3682 16.9867C16.3894 16.978 16.4086 16.9651 16.4248 16.9489L17.3513 16.0246C17.3675 16.0084 17.3803 15.9892 17.3891 15.968C17.3978 15.9469 17.4023 15.9242 17.4023 15.9013C17.4023 15.8784 17.3978 15.8557 17.3891 15.8346C17.3803 15.8135 17.3675 15.7942 17.3513 15.7781ZM10.1433 9.74096C9.24231 10.6398 8.04806 11.135 6.77732 11.135C5.50657 11.135 4.31233 10.6398 3.41133 9.74096C2.51246 8.83996 2.01734 7.64572 2.01734 6.37497C2.01734 5.10423 2.51246 3.90786 3.41133 3.00899C4.31233 2.11012 5.50657 1.61499 6.77732 1.61499C8.04806 1.61499 9.24443 2.10799 10.1433 3.00899C11.0422 3.90998 11.5373 5.10423 11.5373 6.37497C11.5373 7.64572 11.0422 8.84209 10.1433 9.74096Z" fill="#71809C")
        .bc-city
          svg.bc-city__marker(width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.6891 6.44339C11.6891 5.70146 11.543 4.9668 11.2591 4.28135C10.9752 3.5959 10.559 2.97308 10.0344 2.44846C9.50977 1.92383 8.88695 1.50768 8.2015 1.22376C7.51605 0.939835 6.78139 0.793701 6.03946 0.793701C5.29753 0.793701 4.56287 0.939835 3.87742 1.22376C3.19196 1.50768 2.56915 1.92383 2.04453 2.44846C1.5199 2.97308 1.10375 3.5959 0.819827 4.28135C0.535904 4.9668 0.38977 5.70146 0.389771 6.44339C0.389771 7.56284 0.720681 8.60399 1.28161 9.48212H1.27516C3.17991 12.4643 6.03946 16.9357 6.03946 16.9357L10.8038 9.48212H10.7981C11.3796 8.57523 11.6888 7.52066 11.6891 6.44339ZM6.03946 8.86469C5.39729 8.86469 4.78143 8.60959 4.32734 8.1555C3.87326 7.70142 3.61816 7.08556 3.61816 6.44339C3.61816 5.80122 3.87326 5.18536 4.32734 4.73128C4.78143 4.27719 5.39729 4.02209 6.03946 4.02209C6.68163 4.02209 7.29749 4.27719 7.75157 4.73128C8.20565 5.18536 8.46075 5.80122 8.46075 6.44339C8.46075 7.08556 8.20565 7.70142 7.75157 8.1555C7.29749 8.60959 6.68163 8.86469 6.03946 8.86469Z" fill="#71809C")
          span Санкт-Петербург
        a(href="/admin").bc-auth
          svg(width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.8735 13.0001L9.66674 6.16113V10.2645H0.0921631V15.7357H9.66674V19.8391L17.8735 13.0001ZM21.9769 22.5747H11.0345V25.3103H21.9769C23.4815 25.3103 24.7125 24.0793 24.7125 22.5747V3.42554C24.7125 1.92096 23.4815 0.689941 21.9769 0.689941H11.0345V3.42554H21.9769V22.5747Z" fill="#71809C")
  // ===========================================================================
  .bc-slider-block
    .container
      .bc-main-slider
        .bc-main-slider__arrow.left.siema-prev
          svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M6.49658 1L1.49658 6.5L6.49658 11.5" stroke="#1092D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .bc-main-slider__arrow.right.siema-next
          svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1.49658 1.34448L6.49658 6.84448L1.49658 11.8445" stroke="#1092D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .siema
          .bc-slide
            .bc-slide__circle
            img.bc-slide__img(src="/images/bobr1.png")
            .bc-slide__title
              | Агрегатор строительных<br/>
              | материалов BoCo
            .bc-slide__info
              | BoberCo - крупнейшая база данных товаров магазинов
              | и гипермаркетов Санкт-Петербурга, насчитывающая
              | десятки тысяч наименований
            a(href="/products/").bc-btn Перейти в каталог
          .bc-slide
            .bc-slide__circle
            img.bc-slide__img.middle(src="/images/bobr2.png")
            .bc-slide__title
              | Друзья BoCo
            .bc-slide__info
              | Скооперируйтесь и приобретайте товары по
              | оптовым ценам даже если требуется меньшее
              | количество, чем минимально неободимое
              | для совершения оптовой закупки
            .bc-btn.scroll-to(data-target="st-coop") Подробнее
          .bc-slide
            .bc-slide__circle
            img.bc-slide__img.large(src="/images/bobr3.png")
            .bc-slide__title
              | Аренда ячейки
            .bc-slide__info
              | Арендуйте ячейку и в этом случае в карточках
              | товаров вместе с остальными ценами будет
              | выводиться цена Вашего магазина со ссылкой
              | на страницу товара на Вашем сайте
            .bc-btn.scroll-to(data-target="st-rent") Подробнее
  // ===========================================================================
  .bc-categoies-block.st-category
    .container
      .bc-block-title Категории товаров
      .bc-categories(id="categoriesBlock")
        .row.text-center
          each category, index in categories
            .col-xs-6.col-sm-4.col-lg-3.p-2(class= index > 7 ? 'more' : '')
              a.bc-category-card(href="/products?category=" + category._id)
                .bc-category-card__image-area
                  if category.image
                    img.bc-category-card__image(src=category.image alt="")
                  else
                    .bc-category-card__noimage
                      include parts/greyLogo.pug
                .bc-category-card__title= category.name
      if categories.length > 8
        .bc-controls
          span.link-button(id="showMoreCategories") Посмотреть все категории товаров
  // ===========================================================================
  .bc-hands-block
    .container
      .bc-hands
        .bc-hands__circle
          include parts/greyLogo.pug
        img.bc-hands__left(src="/images/left-hand.png")
        img.bc-hands__right(src="/images/right-hand.png")
        .bc-hands__info
          .bc-hands__title Кооперация
          .bc-hands__desc
            | Для приобретения товаров по оптовым ценам сделайте
            span.link-button.scroll-to(data-target="st-coop") 3 простых шага
  // ===========================================================================
  .bc-cooperation-block.st-coop
    .container
      .bc-block-title Кооперация
      .row
        .col-xs-12.col-sm-4
          .bc-cooperation-card
            .bc-cooperation-card__head
              .bc-cooperation-card__circle
              img.bc-cooperation-card__image.first(src="/images/step1.png" alt="")
            .bc-cooperation-card__title Шаг 1
            .bc-cooperation-card__desc 
              | Выберите товар на сайте и заполните заявку на кооперацию с другими покупателями
        .col-xs-12.col-sm-4
          .bc-cooperation-card
            .bc-cooperation-card__head
              .bc-cooperation-card__circle
              img.bc-cooperation-card__image(src="/images/step2.png" alt="")
            .bc-cooperation-card__title Шаг 2
            .bc-cooperation-card__desc
              | Чтобы заполнить заявку просто нажмите кнопку Кооперация которая имеется в каждой карточке товара
        .col-xs-12.col-sm-4
          .bc-cooperation-card
            .bc-cooperation-card__head
              .bc-cooperation-card__circle
              img.bc-cooperation-card__image(src="/images/step3.png" alt="")
            .bc-cooperation-card__title Шаг 3
            .bc-cooperation-card__desc
              | Как только наберется необходимое количество заявок для совершения оптовой закупки - наш менеджер
              | с Вами свяжется и расскажет о дальнейших шагах
      .bc-controls
        a(href="/products").link-button Перейти в каталог
  // ===========================================================================
  .bc-coop-cards-block
    .container
      .bc-block-title Активные заявки на кооперацию
      .row
        each card in cooProducts
          .col-xs-12.col-sm-6.col-md-3
            a.bc-card(href='/prices?product=' + card._id)
              .bc-card__image-wrap
                img.bc-card__image(src=card.image)
              .bc-card__title=card.name
              if card.brand
                .bc-card__brand=card.brand
              .bc-card__params
                if card.width
                  .row
                    .col-6 Ширина:
                    .col-6=card.width + 'мм'
                if card.height
                  .row
                    .col-6 Высота:
                    .col-6=card.height + 'мм'
                if card.thickness
                  .row
                    .col-6 Толщина:
                    .col-6=card.thickness + 'мм'
                if card.volumeL
                  .row
                    .col-6 Объём:
                    .col-6=card.volumeL + 'м.куб'
                if card.weight
                  .row
                    .col-6 Вес:
                    .col-6=card.weight + 'кг'
                if card.area
                  .row
                    .col-6 Площадь:
                    .col-6=card.area + 'м.кв'
              .bc-card__like
                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19.237 11.1021C19.6447 10.5633 19.8704 9.9032 19.8704 9.2164C19.8704 8.12672 19.2613 7.09529 18.2808 6.52012C18.0284 6.37207 17.741 6.29415 17.4484 6.29442H11.6287L11.7743 3.31177C11.8083 2.59098 11.5535 1.9066 11.0584 1.38482C10.8154 1.12764 10.5223 0.923013 10.1971 0.783593C9.87197 0.644174 9.52166 0.57292 9.16786 0.574237C7.90588 0.574237 6.78951 1.42365 6.4546 2.63952L4.3699 10.1872H1.23193C0.802368 10.1872 0.455322 10.5342 0.455322 10.9638V19.7976C0.455322 20.2272 0.802368 20.5742 1.23193 20.5742H15.8248C16.0481 20.5742 16.2665 20.5306 16.4679 20.4432C17.6231 19.9505 18.3682 18.822 18.3682 17.5698C18.3682 17.264 18.3245 16.963 18.2372 16.6718C18.6449 16.133 18.8706 15.4729 18.8706 14.7861C18.8706 14.4803 18.8269 14.1794 18.7395 13.8882C19.1472 13.3494 19.3729 12.6893 19.3729 12.0025C19.3681 11.6967 19.3244 11.3933 19.237 11.1021ZM2.20268 18.8269V11.9345H4.16847V18.8269H2.20268ZM17.6474 10.26L17.1159 10.7211L17.4533 11.3375C17.5644 11.5406 17.622 11.7686 17.6207 12C17.6207 12.4005 17.446 12.7815 17.1451 13.0436L16.6136 13.5047L16.9509 14.1211C17.062 14.3242 17.1197 14.5522 17.1184 14.7837C17.1184 15.1841 16.9436 15.5651 16.6427 15.8272L16.1112 16.2884L16.4485 16.9048C16.5597 17.1078 16.6173 17.3358 16.616 17.5673C16.616 18.1109 16.2956 18.6012 15.8006 18.8245H5.72168V11.8569L8.13643 3.10791C8.1987 2.88367 8.33236 2.68583 8.51717 2.54438C8.70198 2.40293 8.92786 2.32557 9.16058 2.32402C9.34502 2.32402 9.52704 2.37742 9.67265 2.48663C9.91292 2.66622 10.0415 2.93803 10.027 3.22683L9.794 8.04178H17.4241C17.8561 8.30631 18.1231 8.75286 18.1231 9.2164C18.1231 9.61683 17.9484 9.99543 17.6474 10.26Z" fill="white")
      .bc-controls
        a(href="/products/?coopOnly=true").link-button Посмотреть все заявки
  // ===========================================================================
  .bc-rent-block.st-rent
    .container
      .bc-block-title Аренда ячейки
      .row
        .col-xs-12.col-sm-6
          img.bc-rent__image(src="/images/rent.png")
        .col-xs-12.col-sm-6
          .bc-rent__info
            .bc-rent__text
              | Чтобы оставить заявку на аренду - нажмите на кнопку ниже и заполните форму. 
              | Менеджер свяжется с Вами в ближайшее время чтобы уточнить детали 
              | и рассказать о дальнейших действиях.
            .bc-btn(type="button" data-toggle="modal" data-target="#rentModal") Оставить заявку
  // ===========================================================================
  .bc-partners-block
    .container
      .bc-block-title.small Наши партёры
      .bc-partners.row.text-center
        each shop in shops
          .col-6.col-sm-6.col-md-3
            img.bc-partners__image(src=shop.image alt="")
  // ===========================================================================
  include parts/footer.pug

  include parts/rentModal.pug

  script(src="/frontend/landing.js")