html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title BOCO
    //link(rel="shortcut icon" type="image/png" href="landing/favicon.png")
    //link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    //link(href="landing/styles.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/frontend/style.css")
  body
    nav.site-header.navbar.sticky-top.shadow-sm
      div.container.d-flex.justify-content-between
        a.site-header.navbar-brand.d-flex.align-items-center(href="#")
          include parts/beaver.pug
          span BoCo
        div
          a(class="p-2" href="#") Категории
          a(class="p-2" href="#") Авторизоваться
    .jumbotron.jumbotron-fluid
      .container.text-center.search-wrap
        p(class="lead font-weight-normal mb-5")
          | Начните поиск строительных материалов вместе с BoberCo - крупнейшей базой данных товаров
          | магазинов и гипермаркетов Санкт-Петербурга, насчитывающей несколько тысяч наименований
        div(class="input-group main-search-input")
          input(type="text" class="form-control" placeholder="Название товара" aria-label="Recipient's username" aria-describedby="button-addon2")
          div(class="input-group-append")
            button(class="btn btn-outline-secondary" type="button" id="button-addon2") Найти



    // each newsItem in news
    //   if newsItem.link
    //     a.news-item(href=newsItem.link target="_blank")
    //       img(src=newsItem.image)
    //       .news-body
    //         .news-date= moment(newsItem.date).format("DD MMMM YYYY, HH:MM")
    //         .news-title= newsItem.title
    //   else
    //     .news-item
    //       img(src=newsItem.image)
    //       .news-body
    //         .news-date= moment(newsItem.date).format("DD MMMM YYYY, HH:MM")
    //         .news-title= newsItem.title


    // ================ CATEGORIES ================
    .categories-section.p-5
      .container
        .row.text-center
          each category in categories
            .col-4.p-2= category.name


    .shops-section.p-5
      .container
        .row.text-center
          each shop in shops
            .col-3.p-2
              img.shop-img(src=shop.image alt="")

      //input.search-inp(id="searchInp" type="text" name="search")
      //button(class="btn btn-lg btn-bd-primary" id="searchBtn") отправить
      //button(type="button" class="btn btn-lg btn-block btn-outline-primary") Sign up for free
      //
      //div(id="productsList")


    footer.container.py-5 Footer
    div.underfooter
      .container.p-2 &copy; 2019-2020 All rights reserved
    // ===============================================================
    //script(src="/frontend/main.js")