include parts/meta.pug
+my-include('BOCO: Prices')
body
  include parts/header.pug
  .container.p-3
    .card.mb-3.prices-card
      div.row.no-gutters
        div.col-md-3
          img(src=(product.image ? product.image : "/images/noimg.png") class="card-img prices-card__image" alt="")
        div.col-md-9
          div.card-body
            h5.card-title=product.name
            h6.card-subtitle.mb-2.text-muted=product.brand
            if product.description
              p.card-text=product.description
            p.card-text
              .row
                if product.width
                  .col-6 Ширина:
                  .col-6=product.width + 'мм'
                if product.height
                  .col-6 Высота:
                  .col-6=product.height + 'мм'
                if product.thickness
                  .col-6 Толщина:
                  .col-6=product.thickness + 'мм'
                if product.volumeL
                  .col-6 Объем:
                  .col-6=product.volumeL + 'л'
                if product.volumeM
                  .col-6 Объем:
                  .col-6=product.volumeM + 'м.куб'
                if product.weight
                  .col-6 Вес:
                  .col-6=product.weight + 'кг'
                if product.area
                  .col-6 Площадь:
                  .col-6=product.area + 'м.кв'
            if category
              p.card-text
                small.text-muted=category.name

    .mb-4
      if supply && supply.options && supply.options.length && product.bocoArticle
        .opt-title Оптовые цены:
        each option in supply.options
          .opt-info 
            span.opt-price=option.price
            |  руб. от 
            span=option.quantity
            |  единиц
        .opt-desc
          | Вы можете оставить заявку на участие в совместной оптовой закупке - как только 
          | наберется необходимое количество участников чтобы совершить оптовую закупку - мы с Вами свяжемся.
          | Для этого заполните форму нажав кнопку Кооперация.
        .opt-btn
          .btn.btn-success(type="button" data-toggle="modal" data-target="#coopModal") Кооперация
          span.opt-coops(id="opt-coops")
            if amount
              span
                | Уже есть заявки на покупку
                span.opt-coops-amount(id="coopAmount")=amount
                | единиц товара!

    .mb-3.mobile-prices
      .row
        if positions && positions.length
          each position in positions
            .col-12.mb-3
              .price-card.p-2
                .row.mb-2
                  .col-6
                    img.price-card__image(src=position.shop.image alt="")
                  .col-6.price-card__price
                    span=position.price + ' руб.'
                .row.text-muted.mb-2
                  .col-6
                    small Артикул:
                  .col-6
                    small=position.article
                .row
                  .col-12
                    a.btn.btn-success.btn-block(href=position.link target="_blank") В магазин

    .mb-3.desktop-prices
      if positions && positions.length
        table.table.prices-table
          thead
            tr
              th(scope="col") Магазин
              th(scope="col") Цена
              th(scope="col") Артикул
              th(scope="col") Ссылка
          tbody
            each position in positions
              tr
                th(scope="row")
                  img.prices-table__image(src=position.shop.image alt="")
                td=position.price + ' руб.'
                td=position.article
                td
                  a.btn.btn-success(href=position.link target="_blank") В магазин

    if !positions || !positions.length
      .p-3 К сожалению, в настоящее время этот товар не представлен в ассортименте магазинов

    include parts/coopModal.pug

  script(src="/frontend/main.js")