include parts/meta.pug
+my-include('BOCO: Search results')
body
  .products-page-wrap
    include parts/header.pug
    .products-search(id="productsSearchBlock")
      .container.p-3
        .row
          .col-12.col-lg-7
            form.input-group.mb-0(id="searchForm")
              input(
                type="text"
                id="searchInp"
                class="form-control"
                placeholder="Название товара"
                aria-label="Recipient's username"
                aria-describedby="searchBtn"
              )
              div(class="input-group-append")
                button(class="btn btn-outline-secondary" type="submit") Найти
      .container.pb-3.product-filters-button__wrap
        .row
          .col-12
            button.product-filters-button.btn.btn-primary(
              id="productsFiltersToggleHead"
              type="button"
            )
              span Фильтры
              span.product-filters-button__amount-wrap
                span.product-filters-button__amount(id="filtersAmount")

    .products-list(id="productsListBlock")
      .container.p-3
        .row
          .col-12.col-sm-6.col-md-9
            .row(id="productsListWrap")
              //if products && products.length
              //  each product in products
              //    .col-12.col-sm-4
              //      a.product-card.card.mb-3(href= "/prices?product=" + product._id)
              //        if product.image
              //          img.card-img-top(src=product.image alt="")
              //        else
              //          img.card-img-top(src="images/noimg.png" alt="")
              //        .card-body
              //          h5.card-title=product.name
              //          h6.card-subtitle.mb-2.text-muted=product.brand
              //          if product.description
              //            p.card-text=product.description
              //          p.card-text
              //            .row
              //              if product.width
              //                .col-6 Ширина:
              //                .col-6=product.width + 'мм'
              //              if product.height
              //                .col-6 Высота:
              //                .col-6=product.height + 'мм'
              //              if product.thickness
              //                .col-6 Толщина:
              //                .col-6=product.thickness + 'мм'
              //              if product.volumeL
              //                .col-6 Объем:
              //                .col-6=product.volumeL + 'л'
              //              if product.volumeM
              //                .col-6 Объем:
              //                .col-6=product.volumeM + 'м.куб'
              //              if product.weight
              //                .col-6 Вес:
              //                .col-6=product.weight + 'кг'
              //              if product.area
              //                .col-6 Площадь:
              //                .col-6=product.area + 'м.кв'
              //          if product.minPrice
              //            p.card-text
              //              b='Цена от ' +  product.minPrice + 'руб.'
              //          if product.categoryName
              //            p.card-text
              //              small.text-muted=product.categoryName
              //else
              //  div По Вашему запросу ничего не найдено, попробуйте изменить параметры поиска и повторить попытку
          .col-12.col-sm-6.col-md-3
            include parts/filters.pug

  script(src="/frontend/main.js")
